@-webkit-keyframes apparition {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes apparition {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  font-family: "Roboto";
}

header {
  height: 80px;
  background-color: white;
}

h1 {
  width: 60%;
  font-size: 175%;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

.Center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Delay-1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: apparition;
          animation-name: apparition;
}

.Delay-2 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-name: apparition;
          animation-name: apparition;
}

.Delay-3 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-name: apparition;
          animation-name: apparition;
}

.Delay-4 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-name: apparition;
          animation-name: apparition;
}

header h1 {
  font-family: "Shrikhand";
  font-size: 2.56rem;
  width: auto;
}

.Localisation {
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), color-stop(8%, #F0f0f0));
  background: linear-gradient(to bottom, #d0d0d0 0%, #F0f0f0 8%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Reservation {
  background-color: #f8f8f8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin-top: 4%;
}

.Title p {
  width: 90%;
  font-size: 135%;
  margin: 3% 0 8% 0;
}

.Button_Explore {
  font-size: 110%;
  padding: 18px;
  color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
          box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
  border-radius: 45px;
  border: none;
  scale: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.Button_Explore:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(102, 100, 100, 0.7);
          box-shadow: 0px 0px 20px 2px rgba(102, 100, 100, 0.7);
}

.Fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.Fonctionnement h2 {
  margin: 40px 0 0 20px;
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 150%;
}

.Option_fonctionnnement {
  background-color: #f8f8f8;
  width: 90%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
          box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
}

.Option_fonctionnnement:hover {
  background-color: #eaeaf3;
}

.Option_fonctionnnement:hover i {
  color: #9356DC;
}

.Circle {
  height: 23px;
  width: 23px;
  margin-left: -12px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 13px;
}

.Restaurant_Choice {
  margin-top: 70px;
  padding-top: 15px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1200px;
  gap: 20px;
}

.Restaurant_Choice h2 {
  margin: 40px 0 0 20px;
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 150%;
}

.Restaurant_Choice_Card {
  background-color: white;
  height: 20%;
  width: 90%;
  border-radius: 15px;
  scale: 1;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
          box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
}

.Restaurant_Choice_Card:hover {
  -webkit-box-shadow: 0px 0px 20px 2px rgba(102, 100, 100, 0.7);
          box-shadow: 0px 0px 20px 2px rgba(102, 100, 100, 0.7);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.Restaurant_Choice_Card img {
  height: 70%;
  width: 100%;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.Restaurant_Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 0 10px;
  line-height: 22px;
}

.Restaurant_Text h3 {
  margin: 0px;
  font-size: 18px;
}

.Restaurant_Text p {
  font-size: 16px;
  margin: 0px;
}

.Restaurant_Text i {
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Restaurant_Text .Heart .Heart_1 {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}

.Restaurant_Text .Heart:hover .Heart_1 {
  opacity: 1;
}

.Restaurant_Text .Heart:hover .Heart_2 {
  opacity: 0;
}

footer {
  background-color: rgba(32, 31, 31, 0.904);
  height: 200px;
  line-height: 25px;
  color: white;
}

footer h2 {
  font-family: "Shrikhand";
  padding: 20px 0px 0px 20px;
  font-size: 18px;
  margin: 0px;
}

footer ul {
  list-style: none;
  padding-left: 20px;
}

footer li {
  font-size: 15px;
}

footer .Footer_First_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

footer .Footer_second_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

footer .Footer_second_li i {
  font-size: 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*********************************************************************/
/*                      page menu                                   */
/*********************************************************************/
.Img-restaurant {
  width: 100%;
}

.Container {
  position: relative;
  z-index: -1;
}

.Menu {
  background-color: #f8f8f8;
}

.Restaurant-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px 15px 0 0;
  justify-self: center;
  z-index: 0;
  margin-top: -50px;
  background-color: #f8f8f8;
}

.Restaurant-name h2 {
  font-family: "Shrikhand";
  padding-left: 1.5rem;
}

.Restaurant-name i {
  position: absolute;
  margin: -5px 0 0px -30px;
}

.Entree, .Meal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.Entree h3, .Meal h3 {
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 1.5rem;
}

.Menu-card {
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
          box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  border-radius: 20px;
  padding-left: 1rem;
}

.Menu-card h4 {
  margin: 0px;
  padding-top: 1rem;
}

.Menu-card p {
  margin-top: 0px;
}
/*# sourceMappingURL=style.css.map */