@-webkit-keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  from {
    width: 0;
    opacity: 0;
    rotate: 0deg;
    background-color: transparent;
  }
  to {
    opacity: 1;
    rotate: 360deg;
    width: 25%;
    background-color: #99E2D0;
  }
}

@keyframes spin {
  from {
    width: 0;
    opacity: 0;
    rotate: 0deg;
    background-color: transparent;
  }
  to {
    opacity: 1;
    rotate: 360deg;
    width: 25%;
    background-color: #99E2D0;
  }
}

@-webkit-keyframes Ellipse {
  from {
    width: 80%;
  }
  to {
    width: 60%;
  }
}

@keyframes Ellipse {
  from {
    width: 80%;
  }
  to {
    width: 60%;
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes visible {
  100% {
    overflow: visible;
  }
}

@keyframes visible {
  100% {
    overflow: visible;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  font-family: "Roboto";
  overflow: hidden;
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: infinite;
          animation-duration: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: loader 0.01s;
          animation: loader 0.01s;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader .spin-ring {
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 0.8rem solid #fff;
  border-color: #9356DC #FF79DA #99E2D0 #F8f8f8;
  -webkit-animation: spin2 1.5s  infinite;
          animation: spin2 1.5s  infinite;
}

header {
  height: 80px;
  background-color: white;
}

h1 {
  width: 60%;
  font-size: 175%;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

.Center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Delay-1, .Delay-2, .Delay-3, .Delay-4 {
  -webkit-animation-name: apparition;
          animation-name: apparition;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.Delay-1 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.Delay-2 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.Delay-3 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.Delay-4 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

header h1 {
  font-family: "Shrikhand";
  font-size: 2.56rem;
  width: auto;
}

.Localisation {
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), color-stop(8%, #F0f0f0));
  background: linear-gradient(to bottom, #d0d0d0 0%, #F0f0f0 8%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Reservation {
  background-color: #f8f8f8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin-top: 4%;
}

.Title p {
  width: 90%;
  font-size: 135%;
  margin: 3% 0 8% 0;
}

.Button_Explore {
  font-size: 110%;
  padding: 18px;
  color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
          box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
  border-radius: 45px;
  border: none;
  scale: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.Button_Explore:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(102, 100, 100, 0.7);
          box-shadow: 0px 0px 20px 2px rgba(102, 100, 100, 0.7);
}

.Fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.Fonctionnement h2 {
  margin: 40px 0 0 20px;
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 150%;
}

.Option_fonctionnnement {
  background-color: #F8f8f8;
  width: 90%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
          box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
}

.Option_fonctionnnement:hover {
  background-color: #eaeaf3;
}

.Option_fonctionnnement:hover i {
  color: #9356DC;
}

.Circle {
  height: 23px;
  width: 23px;
  margin-left: -12px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 13px;
}

.Restaurant_Choice {
  margin-top: 70px;
  padding-top: 15px;
  background-color: #F8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1200px;
  gap: 20px;
}

.Restaurant_Choice h2 {
  margin: 40px 0 0 20px;
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 150%;
}

.Restaurant_Choice_Card {
  background-color: white;
  height: 20%;
  width: 90%;
  border-radius: 15px;
  scale: 1;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
          box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
  position: relative;
}

.Restaurant_Choice_Card:hover {
  -webkit-box-shadow: 0px 0px 20px 2px rgba(102, 100, 100, 0.7);
          box-shadow: 0px 0px 20px 2px rgba(102, 100, 100, 0.7);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.Restaurant_Choice_Card img {
  height: 70%;
  width: 100%;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.Restaurant_Choice_Card .New {
  width: 6rem;
  height: 2rem;
  position: absolute;
  font-size: 1.1rem;
  border-radius: 5%;
  color: green;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: flex-end;
  margin-left: 73%;
  margin-top: 1rem;
}

.Restaurant_Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 0 10px;
  line-height: 22px;
}

.Restaurant_Text h3 {
  margin: 0px;
  font-size: 18px;
}

.Restaurant_Text p {
  font-size: 16px;
  margin: 0px;
}

.Restaurant_Text i {
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 1.5rem;
  margin-left: -20px;
  margin-top: -15px;
}

.Restaurant_Text .Heart .Heart_1 {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}

.Restaurant_Text .Heart:hover .Heart_1 {
  opacity: 1;
}

.Restaurant_Text .Heart:hover .Heart_2 {
  opacity: 0;
}

footer {
  background-color: rgba(32, 31, 31, 0.904);
  height: 200px;
  line-height: 25px;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer h2 {
  font-family: "Shrikhand";
  padding: 20px 0px 0px 20px;
  font-size: 18px;
  margin: 0px;
}

footer ul {
  list-style: none;
  padding-left: 20px;
}

footer li {
  font-size: 15px;
}

footer .Footer_First_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

footer .Footer_second_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

footer .Footer_second_li i {
  font-size: 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*********************************************************************/
/*                      page menu                                   */
/*********************************************************************/
.Img-restaurant {
  width: 100%;
}

.Container {
  position: relative;
  height: 20rem;
  z-index: -1;
}

.Menu {
  background-color: #F8f8f8;
  padding-bottom: 3rem;
}

.Menu .Button_order {
  margin-top: 3rem;
  font-size: 110%;
  padding: 15px 50px 15px 50px;
  color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
          box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
  border-radius: 45px;
  border: none;
  scale: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.Menu .Button_order:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(102, 100, 100, 0.7);
          box-shadow: 0px 0px 20px 2px rgba(102, 100, 100, 0.7);
}

.Restaurant-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px 30px 0 0;
  justify-self: center;
  z-index: 0;
  margin-top: -50px;
  background-color: #F8f8f8;
}

.Restaurant-name h2 {
  font-family: "Shrikhand";
  padding-left: 1.5rem;
}

.Restaurant-name i {
  position: absolute;
  margin: -5px 0 0px -30px;
}

.Entree, .Meal, .Dessert {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 1.5rem;
}

.Entree h3, .Meal h3, .Dessert h3 {
  font-weight: 300;
  margin-bottom: -10px;
  font-size: 1.3rem;
}

.Entree .Underline, .Meal .Underline, .Dessert .Underline {
  height: 3px;
  background-color: #99E2D0;
  width: 2.5rem;
}

.Menu-card {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
          box-shadow: 0px 0px 20px 2px rgba(211, 211, 211, 0.83);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  border-radius: 20px;
  padding-left: 1rem;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}

.Menu-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Menu-card div .Valide {
  margin-top: -35px;
  height: 80px;
  border-radius: 0px 15px 15px 0px;
  color: #F0f0f0;
  font-size: 1.5rem;
  display: inline-block;
  text-align: center;
}

.Menu-card div .Valide i {
  opacity: 0;
  margin-top: 30px;
}

.Menu-card h4 {
  margin: 0rem;
  padding-top: 1rem;
  width: 90%;
}

.Menu-card p {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.Menu-card span {
  padding-top: 10px;
  padding-right: 10px;
}

.Menu-card:hover .Valide {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.Menu-card:hover .Valide i {
  opacity: 1;
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.Menu-card:hover p {
  -webkit-animation-name: Ellipse;
          animation-name: Ellipse;
  margin-right: 30px;
  padding-right: 20px;
}

/*.Test{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: red;
}*/
/*# sourceMappingURL=style.css.map */