$Primary: #9356DC;
$Secondary: #FF79DA;
$Third: #99E2D0;
$Gray: #F8f8f8;
$Light_Lavender: #eaeaf3;
$Underline:linear-gradient(90deg, rgba(153,226,208,1) 0%, rgba(153,226,208,1) 35%, rgba(240,240,240,1) 100%);
$Gradient_button: linear-gradient(to bottom right, $Secondary, $Primary);
$Box_shadow: 0px 0px 20px 2px rgba(211,211,211,0.83);
$Box_Shadow_darker:0px 0px 20px 2px rgba(102, 100, 100, 0.7);

@keyframes apparition{
    from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
        
      }
}
@keyframes spin {
    from{
        width:0;
        opacity: 0;
        rotate:0deg;
        background-color: transparent;
        
    }
    to{
        
        opacity: 1;
        rotate:360deg;
        width:25%;
       background-color: $Third;
    }
    
}

@keyframes Ellipse{
    from{
        width:80%;

    } 
    to{
        width: 60%
    }
}

@keyframes spin2{
    from{
        transform:rotate(0deg);
        

    }
    to{
        transform:rotate(360deg);
       
    }
}

@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  } 
  

@keyframes visible{
    100%{
        overflow: visible;
    }
}

body {
    box-sizing: border-box;
    margin: 0%;
    font-family: "Roboto";
    overflow: hidden;
    animation-name: visible;
    animation-delay: 1.5s;
    animation-duration: infinite;
    animation-fill-mode: forwards;
    
}

.loader{

position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.90);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 2;
  display:flex;
  align-items:center;
  justify-content:center;
  

  
    .spin-ring{
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 0.8rem solid #fff;
        border-color: $Primary $Secondary $Third $Gray;
        animation: spin2 1.5s  infinite;
    }
    
}


header{
    height: 80px;
    background-color: white;
    
}

h1{
    width:60%;
    font-size: 175%;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color:black;
}
.Center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Delay-1, .Delay-2, .Delay-3, .Delay-4{
    animation-name:apparition ;
    animation-fill-mode: forwards;
}

.Delay-1{
    animation-delay: 0.4s;
    animation-duration: 2s;
}

.Delay-2{
    animation-delay: 0.8s;
    animation-duration: 2s;
}

.Delay-3{
    animation-delay: 1.2s;
    animation-duration: 2s;
}

.Delay-4{
    animation-delay: 1.5s;
    animation-duration: 2s;
    
}
  
header h1{
    font-family: "Shrikhand";
    font-size: 2.56rem;
    width: auto;
}
.Localisation {
    height: 57px;
    display: flex;
    
    
    background: linear-gradient(to bottom,#d0d0d0 0% ,  #F0f0f0 8%);
    justify-content: center;
    gap: 3%;
    align-items: center;
    
}


.Reservation {
    background-color: #f8f8f8;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 60px;
}
.Title {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top:4%;
    p{
        width:90%;
        font-size: 135%;
        margin: 3% 0 8% 0 ;
    }
    
}

.Button_Explore{
    font-size: 110%;
    padding:18px;
    color: #FFFFFF;
    background-image: $Gradient_button;
    box-shadow: $Box_shadow;
    border-radius: 45px;
    border:none;
    scale: 1;
    transition: all 0.4s;
   

    &:hover{
        transform: scale(1.07);
        opacity: 0.9;
        box-shadow: $Box_Shadow_darker;
        
    }
    
    
}

.Fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

    h2{
   
        
        margin: 40px 0 0 20px;
        justify-self: flex-start;
        align-self: flex-start;
        font-size:150%;
    }

}
 

.Option_fonctionnnement{

    background-color: $Gray;
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    border-radius: 20px;
    box-shadow: $Box_shadow;
    
    
    &:hover{
        background-color: $Light_Lavender;
        i{
            color: $Primary;
        }

    }
}

.Circle{
    
    height: 23px;
    width: 23px;
    margin-left: -12px;
    border-radius: 50%;
    background-color: $Primary;
    color: white;
    font-size: 13px;

    
}

.Restaurant_Choice{

    margin-top: 70px;
    padding-top: 15px;
    background-color: $Gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;
    gap: 20px;
   

    h2{
   
        
        margin: 40px 0 0 20px;
        justify-self: flex-start;
        align-self: flex-start;
        font-size:150%;
    }
}
.Restaurant_Choice_Card{
        
       
    background-color:white;
    height:20%;
    width: 90%;
    border-radius: 15px;
    scale: 1;
    transition: transform 200ms;
    box-shadow: $Box_shadow;
    position: relative;
    
    &:hover{
        box-shadow: $Box_Shadow_darker;
        transform: scale(1.01);
    }
    img{
        height: 70%;
        width:100%;
        background-position: center;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        
         
    }
    .New{
        width:6rem;
        height: 2rem;
        position: absolute;
        font-size: 1.1rem;
        border-radius: 5%;
        color: green;
        background-color: $Third;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: flex-end;
       
        
        margin-left: 73%;
        
        margin-top: 1rem;
    }
}

.Restaurant_Text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px 0 10px;
    line-height: 22px;
    
    
    h3{
        margin:0px;
        font-size: 18px;
    }
    
    p{
        font-size: 16px;
        margin: 0px;
    }
    i{        
        position:absolute;
        transition: all 0.5s ;
        font-size: 1.5rem;
        margin-left:-20px;
        margin-top: -15px;
    } 
            
   .Heart .Heart_1{
        
        color: transparent;
        background-image: linear-gradient(to bottom right, $Secondary, $Primary);
        background-clip: text;
        -webkit-background-clip: text;   
        opacity:0;
        
    }

    .Heart:hover .Heart_1{
        opacity: 1;
        
        
    }
    
    .Heart:hover .Heart_2{
        opacity: 0;
        
    } 
       
}    


         


footer{
    background-color: rgba(32, 31, 31, 0.904);
    height: 200px;
    line-height: 25px;
    color:white;
    a{
        color:white;
        text-decoration: none;
    }
    

    h2{
        font-family: "Shrikhand";
        padding: 20px 0px 0px 20px; 
        font-size: 18px;
        margin:0px;
    }

    ul{
        list-style: none;
        padding-left:20px;
    }

    li{
        font-size:15px;
    }
    .Footer_First_li{
        display: flex;
        gap:10px;
    }

    .Footer_second_li{
        
        display: flex;
        gap:8px;
        i{
            font-size: 12px;
            align-self: center;
        }
    }
}

/*********************************************************************/
/*                      page menu                                   */
/*********************************************************************/


.Img-restaurant{
    width:100%;
}

.Container{
    position: relative;
    height: 20rem;
    z-index: -1;
}

.Menu{
    background-color: $Gray;
    padding-bottom: 3rem;
    
    
        .Button_order{
            margin-top:3rem;
            font-size: 110%;
            padding:15px 50px 15px 50px;
            color: #FFFFFF;
            background-image: $Gradient_button;
            box-shadow: $Box_shadow;
            border-radius: 45px;
            border:none;
            scale: 1;
            transition: all 0.4s;
           
        
            &:hover{
                transform: scale(1.07);
                opacity: 0.9;
                box-shadow: $Box_Shadow_darker;
                
            }
        
    }

}
.Restaurant-name{
   
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px 30px 0 0;
    justify-self: center;
    z-index: 0;
    margin-top : -50px;
    background-color: $Gray;


    h2{
        font-family: "Shrikhand";
        padding-left: 1.5rem;
    }
    i{
        position:absolute;
        margin: -5px 0 0px -30px; 
    }
}

.Entree, .Meal, .Dessert{
   
    flex-direction: column;
    gap:1rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1.5rem;


    h3{
        font-weight: 300;
        margin-bottom: -10px;
        font-size: 1.3rem;
    }
    .Underline{
        height: 3px;
        background-color: $Third;
        width: 2.5rem;
        
      
    }
    
}

.Menu-card{
    
    opacity: 0;
    display:flex;
    background-color: white;
    box-shadow: $Box_shadow;
    flex-direction: column;
    width: 90%;
    //width: calc(90%);
    border-radius: 20px;
    padding-left: 1rem;
    height:80px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;

    
   
    div{
        display:flex;
        flex-direction: row;
        justify-content: space-between;

        .Valide{
        
            
            margin-top: -35px;
            height:80px;
            border-radius: 0px 15px 15px 0px;
            color: #F0f0f0;
            font-size: 1.5rem;
            display: inline-block;
            text-align: center;
                        
            i{
                opacity: 0;
                
                margin-top:30px;
                
               
                
            }
        }
    }

    h4{
        margin:0rem;
        padding-top: 1rem;
        width: 90%;
    }
    p{
       margin-top:0.5rem ;
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;

    }
    span{
        padding-top:10px;
        padding-right: 10px;
    }
    
    &:hover{
        
        .Valide{
            animation-name: spin;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            
            i{
                opacity: 1;
                
                transition-duration: 1500ms;
                transform: rotate(360deg);
            }
        }
            
        p{
            animation-name: Ellipse;
            margin-right:30px;
            padding-right: 20px;
        }

    }
   
}

/*.Test{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: red;
}*/

