$Primary: #9356DC;
$Secondary: #FF79DA;
$Third: #99E2D0;
$Gray: #F8f8f8;
$Light_Lavender: #eaeaf3;
$Underline:linear-gradient(90deg, rgba(153,226,208,1) 0%, rgba(153,226,208,1) 35%, rgba(240,240,240,1) 100%);
$Gradient_button: linear-gradient(to bottom right, $Secondary, $Primary);
$Box_shadow: 0px 0px 20px 2px rgba(211,211,211,0.83);
$Box_Shadow_darker:0px 0px 20px 2px rgba(102, 100, 100, 0.7);